.image {
    filter: brightness(0);
    // filter: blur(2rem);
    // rotate: random($limit: 360)+deg;
    pointer-events: none;
    user-select: none;
    

    &--show {
        filter: brightness(1);
        // filter: blur(0);
        // rotate: 0deg;
        transition: 1s;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}