@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

body {
    background-color: #ffeeaa;
}

.head {
    display: none;
}
.body {
    display: none;
}

.show {
    display: block;
    color: green;
}

.pokemon {
    &__header {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #1d2597;
        font-size: 2rem;
        font-weight: 500;
    }

    &__points {
        display: flex;
        justify-content: center;
    }
}

.name {
    display: flex;
    justify-content: center;
}

form {
    padding-left: 10rem;

    &__submit-button {
        
    }
}

img.image {
    padding-left: 10rem;
}

button.next {
    margin-left: 10rem;
}



@include desktop {
    .pokemon {
    
        &__header {
            font-size: 3rem;
        }
    }
    
    
    .image {
       padding-left: 52rem;
    }
    
    #head__label {
        padding-left: 52rem;
    }
    
    #body__label {
        padding-left: 52rem;
    }
    
    #head{
        margin-right: 50rem;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }
    
    #body {
        margin-right: 50rem;
        padding-top: 0.5rem;
        margin-top: 1rem;
    }
    
    .form__submit-button{
        margin-left: 56.3rem;
        margin-top: 1rem;
        width: 8rem;
        height: 2.5rem;
    }
    
    .next {
        margin-left: 56.3rem;
        margin-top: 1rem;
        width: 8rem;
        height: 2.5rem;
    }
}






